################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LucyCalendar
/LucyCalendar/obj
/LucyCalendar/bin
/ShowCase/bin
/ShowCase/obj