################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LucyCalendar/bin
/LucyCalendar/obj

/ShowCase/bin
/ShowCase/obj
